<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--<add key="MenuEntry" value="OpenDoPE Author" />-->
    <add key="MenuEntry" value="Authoring"/>


    <!-- Require the following root element. 
         If you don't want this, set the value to empty or remove the key.
         This needs to be user configurable. 
    <add key="RootElement" value="yourrootelement" />
-->
    
    <add key="Registry.CurrentUser.SubKey" value="Software\\Plutext\\XML Mapping Task Pane"/>
    
    <!-- When ModeControlEnabled is true (the default), the task pane will contain
         radio buttons which determine whether the content control
         is inserted as a plain bind, a repeat, or a condition.
         When set to false, you can only (easily) insert a plain bind
         via the task pane. -->
    <add key="TaskPane.ModeControlEnabled" value="false"/>

    <!-- If set to false, the control type added 
         via right click will be a text control.
         
         If set to true, user can choose between
         text, date, drop down list, picture, combo box.
          -->
    <add key="TaskPane.BindControlTypeChoice" value="false"/> 
      <!-- Only false is currently supported.  TODO: make this work-->
    
    <!-- At present, supported combinations are:  
    
          ModeControlEnabled=true
          BindControlTypeChoice=true
          
        or
        
          ModeControlEnabled=false
          BindControlTypeChoice=false        
    
    -->

    <add key="TaskPane.XmlTreeIsEditable" value="false"/>
    
    <!-- Whether you can right click to add a condition.  Default is true -->
    <add key="TaskPane.ConditionViaRightClick" value="true"/>

    
    <!-- Whether the user is able to switch the XML part
         (via ribbon > Settings > Switch XML part).
         This is useful for binding a control to a document property.
         
         Not being able to switch parts could be 
         problematic, if there are multiple 
         user custom xml parts present!
         
         Any value except 'true' is treated as false. -->
    <add key="Ribbon.Button.SwitchPart.Enabled" value="true"/>

    <!-- Whether the user is able to configure XML Options.
    
    -->
    <add key="Ribbon.Button.XMLOptions.Enabled" value="true"/>

    <!-- XML Options settings.
    
        Show Attributes    = 1;
        Show Text          = 2;
        Show PI            = 4;
        Show Comments      = 8;
        Show PropertyPage  = 16;
        AutoSelect Node    = 32;
    
       The user can only change these values, if Ribbon.Button.XMLOptions.Enabled is set to true.
    -->
    <add key="Ribbon.Button.XMLOptions.Value" value="51"/>

    <!-- what to show about this node on the properties grid on the task pane -->
    <add key="NodeProperties.Show.Namespace" value="false"/>
    <add key="NodeProperties.Show.Type" value="false"/>
    <add key="NodeProperties.Show.XPath" value="true"/>
    <add key="NodeProperties.Show.Prefixes" value="false"/>
    <add key="NodeProperties.Show.XML" value="false"/>

    <!-- Whether there is a button on the ribbon for adding a repeat-->
    <add key="Ribbon.Button.Repeat.Enabled" value="true"/>

    <!-- Word incorrectly reports that a document needs to be repaired,
         if it contains a floating picture content control.
         
         So use a rich text control instead. -->
    <add key="ContentControl.Picture.RichText.Override" value="true"/>

  </appSettings>  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
